/* Main app styles */

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 900;
}

.game-status {
  height: 48px;
  padding-top: 10px;
}

footer {
  margin-top: 20px;
  font-size: 12px;
  font-style: italic;
}

.guess-square {
  background: #fff;
  border: 2px solid black;
  float: left;
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  height: 42px;
  width: 42px;
  margin: -1px;
  padding: 0;
  text-align: center;
}

.guess-board-row:after {
  clear: both;
  content: '';
  display: table;
  margin: 0 auto;
}

.game,
.key-board-wrapper,
.guess-board-wrapper-outer,
.game-status {
  display: block;
  text-align: center;
}

.guess-board-wrapper-inner {
  display: inline-block;
  margin: 0 auto;
}

.guess-board-sizer {
  display: inline-block;
  width: 100%;
}

.key-square {
  font-size: 18px;
  margin: -1px;
  border: 2px solid black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button {
  background: white;
  border: 2px solid black;
  font-size: 18px;
  font-weight: bold;
  margin: 0 5px;
  padding: 5px 10px;
}

button:focus,
button:hover,
.key-square:focus,
.key-square:hover {
  background: black;
  color: white;
  border: 2px solid black;
  outline: none;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  max-width: 500px;
  min-width: 200px;
  margin: 20px;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal h2 {
  margin-top: 0px;
}

/* Bar chart styling */

.bar-chart-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}

.bar-chart-blank p {
  font-style: italic;
  margin-top: 0;
}

.bar-container-outer {
  width: 32px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 0;
}

.bar-container-inner {
  height: 100px;
  width: 100%;
}

.bar-chart-bar-sizer {
  width: 100%;
  height: 100px;
}

.bar-chart-bar {
  width: 100%;
  background-color: green;
}

.bar-chart-label {
  margin-top: 6px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

/* END bar chart styling */

@media (max-width: 600px) {
  body {
    margin: 2vw;
  }
  
  h1 {
    font-size: 14vw;
    margin-bottom: 2vw;
  }
  
  .game-status {
    font-size: 4vw;
    height: 10vw;
    padding-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer {
    margin-top: 4.5vw;
    font-size: 3.5vw;
  }
  
  button {
    font-size: 5vw;
  }
  
  .key-square {
    width: 9vw;
    height: 9vw;
    font-size: 5.5vw;
    padding: 1.5vw;
  }

  #enter-key-square {
    width: auto;
  }

  .guess-square {
    font-size: 12vw;
    line-height: 12vw;
    height: 12vw;
    width: 12vw;
  }
}